html {
  height: 100%;
  width: 100%;
}

li {
  display: inline;
  padding: 0px 10px 0px 10px;
}

header {
  background: url("https://animals.sandiegozoo.org/sites/default/files/2016-11/Koi.jpg");
  background-size: cover;
  color: white;
}

h1 {
  font-size: 40px;
}

ul {
  padding: 10x;
  background: grey;
}

